<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Dylan Salay. It uses the mapbox api and the weatherstack api to provide weather forecast information for locations.</p>
    <img class="portrait" src="/images/doggy.jpg">
  </div>

  {{>footer}}
</body>


</html>